name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Getting Build-Essential
      run: sudo apt update && sudo apt install build-essentials
    - name: make
      run: make
